<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>Welcome home</h1>
    <p>This is my first side</p>
    <!--    <p th:text="${employee.firstName}"></p>-->
    <p>Count:<td th:text="${count}"></td></p>
    <!--    <td ></td>-->

    <!--    <h1 style="border:2px solid DodgerBlue;">Welcome home</h1>-->
    <!--    <p style="background-color:LightGray;">This is my first side</p>-->
</head>
<body>

</body>
</html>