<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">

<style>
    .error {
        color: red;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Save Employee</h2>

    <form action="#" th:action="@{/employee/saveEmployee}" th:object="${employee}" method="POST">
        <h6>First name:</h6>
        <p th:if="${#fields.hasErrors('firstName')}" class="text-danger">Invalid Name! (It must be more than 2 and less than 50 symbols)</p>
        <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4">
        <h6>Last name:</h6>
        <p th:if="${#fields.hasErrors('lastName')}" class="text-danger">Invalid Name! (It must be more than 2 and less than 50 symbols)</p>
        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4">
        <h6>Email:</h6>
        <input type="text" th:field="*{email}" class="form-control mb-4 col-4">
        <h6>Age:</h6>
        <p th:if="${#fields.hasErrors('age')}" class="text-danger">Invalid Age! (It must be more than 18 and less than 70)</p>
        <input type="text" th:field="*{age}" class="form-control mb-4 col-4">
        <h6>Department:</h6>
        <select name="department.id">
            <option th:value="${1L}" th:text="${'Information Technology'}"></option>
            <option th:value="${2L}" th:text="${'Human Resources'}"></option>
            <option th:value="${3L}" th:text="${'Financial Service'}"></option>
        </select>
        <hr>
        <h6>Salary:</h6>
        <input type="text" th:field="*{salary}" class="form-control mb-4 col-4">

        <!--        <div th:if="${#fields.hasAnyErrors()}">-->
        <!--            <ul>-->
        <!--                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
        <!--            </ul>-->
        <!--        </div>-->

        <div th:if="${#fields.hasErrors('global')}">
            <h3>Global errors:</h3>
            <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></p>
        </div>

        <button type="submit" class="btn btn-info col-2">Save Employee</button>
    </form>

    <hr>

    <a th:href="@{/employee}" class="btn btn-info btn-md mb-3"> Back to Employee List</a>

</div>
</body>
</html>
